$plex: 'Source Code Pro',
monospace;
$card-width: 300px;
$card-height: 325px;
$point: #7e796f;
$red: #c02f2f;
$point-dark: darken($point, 7%);
$card-shadow: 6px 6px 0px 0px $point-dark;
$card-shadowHov: 5px 5px 0px 0px $point-dark;
$card_padding: 10px 10px 10px 10px;
$card_round: 10px;
$header_padding: 10px 10px 0px 0px;
$card: #c9c0ae;
$card-dark: darken($card, 7%);
$navbar: #2b3c1e;
//variables up above
//styling of elements
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, $card-width);
    grid-gap: .1rem;
    justify-content: space-between;
    align-content: flex-start;
    font-family: $plex;
}

.testcard {
    min-height: $card-height;
    -webkit-box-shadow: $card-shadow;
    box-shadow: $card-shadow;
    border-radius: $card_round;
    background-color: $card;
    padding: $card_padding;
    display: flex;
    flex-direction: column;
}

.textDivit {
    // min-height: 240px;
    // min-width: 230px;
    border-radius: 18px;
    background-color: $card-shadow;
    border: #afa797;
    border-style: solid; // box-shadow: inset 5px 5px 0px #afa797, inset -5px -5px 0px #e3d9c5;
    padding: 20px
}

.testcardheader {
    border-radius: $card_padding;
}

.cardBtn {
    background-color: $card;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 85px;
    opacity: 1;
    margin-top: auto;
}

.cardBtn span {
    color: $navbar;
    font-size: 10px;
    font-weight: 00;
    letter-spacing: 0.7px;
}

.cardBtnAlt {
    background-color: $card;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 255px;
    opacity: 1;
}

.cardBtnAlt span {
    color: $navbar;
    font-size: 10px;
    font-weight: 00;
    letter-spacing: 0.7px;
}

.Btn {
    margin-top: 5px;
    margin-left: 5px;
    background-color: $card;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 207px;
    opacity: 1;
}

#red {
    color: $red;
}

.box {
    background-color: $card;
    font-family: $plex;
}

//animations
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

//animation triggers
.cards {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
    animation-fill-mode: both;
    animation-name: appear;
}

.cardBtn:hover {
    animation: rotate 0.7s ease-in-out both;
}

.cardBtn:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

.zoom {
    transition: transform .3s;
    // transition: box-shadow .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05);
    box-shadow: $card-shadowHov;
}